<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <div class="product_detail">
        <form action='/users/insert' method="POST">
            <label>ID "</label>
            <input type="text" placeholder="Enter Id" name="Id">
            <label> Cake_name"</label>
            <input type="text" placeholder="Enter Cake_name" name="Cake_name">
            <label>Price</label>
            <input type="text" placeholder="Enter Price" name="Price">
            <label>Date_of_manufacture</label>
            <input type="text" placeholder="Enter Date_of_manufacture" name="Date_of_manufacture">
            <label>Expiry</label>
            <input type="text" placeholder="Enter Expiry" name="Expiry">
            <button type="Submit"> Submit</button>
        </form>
    </div>
</body>

</html>